.app {
  background-color: #f2f2f2;
  margin-bottom: 40px;
}

.app__legend {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.app__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app__item {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding-bottom: 55px;
}
