.app {
  background-color: #f2f2f2;
  margin-bottom: 32px;
}

.app__legend {
  padding-top: 40px;
  padding-bottom: 41px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.app__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app__item {
  padding-bottom: 55px;
  &:last-child {
    padding-bottom: 51px;
  }
}

.app__label {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #283645;
  cursor: pointer;
  user-select: none;
  padding-left: 70px;
}

.app__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  &:hover {
  border: 2px solid #283645;
  }
}

.app__label:hover::before,
.app__label:focus::before {
  border-color: #283645;
}

.app__label:active::before {
  border-color: #d22856;
}

.app__input:checked + .app__label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

