.button {
  font-family: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.button--regular {
  display: block;
  width: 274px;
  padding: 15px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 27px;

  &:hover,
  &:focus {
    color: rgba(210, 40, 86, 1);
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button--regular {
    width: 294px;
  }
}

@media (min-width: @desktop-width) {
  .button--regular {
    font-size: 21px;
  }
}

.button--pink {
  margin-top: 38px;
  margin-bottom: 12px;
  color: #d22856;
  border-color: #d22856;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--disabled {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
  background-color: transparent;

  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
    background-color: transparent;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    border: rgba(40, 54, 69, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
  }
}

.button--submit {
  display: block;
  width: 280px;
  padding: 22px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;
  margin-bottom: 37px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
