.contacts {
  text-align: center;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__text {
  font-size: 24px;
  font-weight: lighter;
}

.contacts__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 36px 0;
  &::before {
    content: "";
    position: absolute;
    bottom: -35px;
    right: -50%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    width: 595px;
    height: 62px;
  }
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__type {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin: 0px;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  text-decoration: none;
  color: #d22856;
}
