.contacts {
  text-align: center;
}

.contacts__text {
  font-size: 24px;
  font-weight: lighter;
}

.contacts__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 36px;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__type {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  text-decoration: none;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    display: block;
    font-size: 40px;
    line-height: 46px;
    padding: 0 100px;
    text-align: center;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 42px;
  }

  .contacts__item:last-child {
    margin: 0 auto 42px;
  }

  .contacts__type {
    padding: 5px 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    font-size: 50px;
    line-height: 58px;
    padding: 0 220px;
  }

  .contacts__list {
    padding-top: 56px;
  }

  .contacts__item {
    margin-bottom: 21px;

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  .contacts__type {
    margin-bottom: 23px;
  }
}
