.features {
  background-color: #f2f2f2;
}

.features__text {
  background-color: #ffffff;
}

.features__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f2f2f2;
}

.features__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 32px;
}

.features__list{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 284px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/iphone-screen-mobile@1x.png");
    width: 157px;
    height: 277px;
  }
}

.features__item {
  margin-bottom: 40px;
}

.features__title {
  margin: 0;
  font-weight: bold;
  color: #000000;
}
