.features {
  position: relative;
}

.features__text {
  position: relative;
  background-color: #ffffff;
}

.features__slogan {
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 32px;
  z-index: 2;
}

.features__desc {
  position: relative;
  background-color: #f2f2f2;
}

.features__desc::after {
  content: "";
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/bg-triangle-white.svg");
  width: 1200px;
  height: 94px;
  z-index: 1;
}

.features__img {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  width: 157px;
  height: 277px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 85px;
  padding-bottom: 284px;
  text-align: center;
}

.features__item {
  margin-bottom: 32px;
}

.features__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  color: #000000;
}

.features__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features {
    margin-top: 52px;
    margin-bottom: 48px;
  }

  .features__text {
    margin-bottom: 48px;
  }

  .features__slogan {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 0;
  }

  .features__desc {
    bottom: 0;

    &::after {
      top: -20px;
    }
  }

  .features__item {
    margin-bottom: 34px;
  }

  .features__list {
    width: 310px;
    margin-left: 310px;
    text-align: left;
    padding-top: 77px;
    padding-bottom: 8px;
  }

  .features__img {
    left: 20px;
    transform: translateX(0);
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    width: 268px;
    height: 480px;
    z-index: 3;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-top: 72px;
    margin-bottom: 0;
  }

  .features__text {
    margin-bottom: 80px;
  }

  .features__slogan {
    font-size: 50px;
    line-height: 56px;
  }

  .features__desc::after {
    top: 0;
  }

  .features__img {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    width: 292px;
    height: 302px;
  }

  .features__img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -320px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    width: 292px;
    height: 302px;
  }

  .features__img::after {
    position: absolute;
    content: "";
    top: 0;
    left: -640px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    width: 292px;
    height: 302px;
  }

  .features__list {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0;
    padding-top: 55px;
  }

  .features__item {
    width: 240px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 28px;
  }
}
