.form {
  margin-bottom: 62px;
}

.form__text {
  padding-top: 55px;
  padding-bottom: 49px;
  text-align: center;
}

.form__desc {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.form__field,
.form__checkbox,
.form__user-contacts,
.form__app,
.form__textarea {
  border: none;
  margin: 0;
  padding: 0;
}

.form__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__field {
  margin-bottom: 42px;
  //почему не работает?
}

.form__help {
  display: block;
  text-align: center;
}
