.header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #283645;
  padding-top: 22px;
}

.header__logo {
  padding-left: 20px;
  margin-bottom: 22px;
  width: 75px;
  height: 22px;
}
