.header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 22px;
}

.header--solid {
  background-color: #283645;
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    flex-direction: row;
  }
}
