.intro {
  min-height: 237px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro--index {
  position: relative;
  min-height: 462px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-62%);
    background-image: url("../img/iphone-hand-mobile@1x.png");
    height: 286px;
    width: 258px;
  }
}

.intro__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
}

.intro--photo {
  margin-bottom: 52px;
}

.intro--form {
  margin-bottom: 52px;
}
