.nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.nav--closed .nav__toggle {
  position: relative;
  background-color: #ffffff;
  width: 50px;
  height: 4px;
  cursor: pointer;
  border: none;

  &:active,
  &:active::before,
  &:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
  }

  &:hover,
  &:focus,
  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: rgba(210, 40, 86, 1);
  }
}

.nav--closed .nav__list {
  display: none;
}

.nav__header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
}

.nav__logo {
  display: block;
  width: 75px;
  height: 22px;
}

.nav--opened .nav__toggle {
  position: relative;
  width: 30px;
  height: 4px;
  border: none;
  background-color: #ffffff;
  transform: rotate(45deg);
  cursor: pointer;
}

.nav--opened .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 4px;
  border: none;
  background-color: #ffffff;
  transform: rotate(-90deg);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  &:hover,
  &:focus {
    color: rgba(210, 40, 86, 1);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.nav__link--active {
  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .nav__header {
    padding-bottom: 43px;
  }

  .nav__logo {
    display: block;
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .nav {
    display: flex;
    width: 960px;
  }

  .nav--closed .nav__toggle {
    display: none;
  }

  .nav .nav__list {
    display: flex;
    background: transparent;
    width: 620px;
    padding-right: 10px;
    justify-content: space-between;
  }

  .nav__header {
    margin-right: auto;
  }

  .nav__logo {
    width: 147px;
    height: 40px;
  }

  .nav__link {
    border: none;
    text-transform: none;
    font-weight: normal;
  }
}
