.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  margin: 0 auto;
}

.pagination__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #bec2c7;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}

//#review1:checked ~ .pagination label[for="review1"],
//#review2:checked ~ .pagination label[for="review2"],
//#review3:checked ~ .pagination label[for="review3"] {
//  background: #ffffff;
//  border: 3px solid #283645;
//  border-radius: 50%;
//}
//
//#radio1:checked ~ .pagination label[for="radio1"],
//#radio2:checked ~ .pagination label[for="radio2"],
//#radio3:checked ~ .pagination label[for="radio3"] {
//  background: #ffffff;
//  border: 3px solid #283645;
//  border-radius: 50%;
//}

.pagination__radio:checked ~ .pagination .pagination__label {
  background: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
}
