.photo {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.photo__text {
  padding: 55px 0;
  text-align: center;
}

.photo__desc {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.photo__item {
  margin: 0;
  margin-bottom: 20px;
}

.photo__users-image {
  display: block;
}

.photo__users-image--panorama {
  position: relative;
  width: 100%;
}

.photo__caption {
  padding: 24px 18px;
  background-color: #f2f2f2;
}

.photo__users-name {
  font-weight: bold;
  font-style: normal;
}

.photo__date {
  font-weight: lighter;
  text-transform: uppercase;
}

.photo__users-text {
  margin: 0;
  margin-bottom: 20px;
}

.photo__likes {
  position: relative;
  padding-left: 32px;
  color: #d22856;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    width: 12.5px;
    height: 12px;
  }
}

.photo__slogan {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
