.photo {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.photo__text {
  padding: 55px 0;
  text-align: center;
}

.photo__desc {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.photo__item {
  margin: 0;
  margin-bottom: 20px;
}

.photo__users-image {
  display: block;
}

.photo__users-image--panorama {
  width: 100%;
}

.photo__item--panorama {
  position: relative;
  &::before {
    display: block;
    content: "панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 35px;
    background-color: #d22856;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0;
    z-index: 2;
    box-sizing: border-box;
  }
}

.photo__caption {
  padding: 18px;
  background-color: #f2f2f2;
}

.photo__users-name {
  font-weight: bold;
  font-style: normal;
}

.photo__date {
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo__users-text {
  margin: 0;
  margin-bottom: 20px;
}

.photo__likes {
  position: relative;
  padding-left: 32px;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    width: 12.5px;
    height: 12px;
  }
}

.photo__slogan {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
  text-align: center;
}
