.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    margin-top: 98px;
    margin-bottom: 125px;
  }

  .research__timer {
    positin: relative;
    background-image: url("../img/icon-timer.svg");
    background-size: cover;
    width: 238px;
    height: 276px;
    flex-shrink: 0;

    &::before {
      position: absolute;
      content: "24";
      color: #d22856;
      font-size: 96px;
      top: 0;
      left: -310px;
      width: 188px;
      height: 188px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 14px solid #d22856;
    }
  }

  .research__text {
    position: relative;
    width: 270px;
    margin-left: auto;
  }

  .research__header {
    font-size: 30px;
    line-height: 36px;
  }

  .research__more-info {
    color: #d22856;
    text-decoration: underline;
  }

  .research__timer svg {
    position: relative;
    margin-top: -250px;
    width: 238px;
    height: 276px;
  }
}
