.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    margin-top: 59px;
    margin-bottom: 100px;
  }

  .research__timer {
    position: relative;
    background-image: url("../img/icon-timer.svg");
    background-size: cover;
    width: 238px;
    height: 276px;
    margin-right: 70px;
    flex-shrink: 0;

    &::before {
      position: absolute;
      content: "";
      top: 56px;
      left: 18px;
      width: 174px;
      height: 174px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 14px solid #d22856;
    }

    &::after {
      position: absolute;
      content: "24";
      color: #d22856;
      font-family: "OpenSans", "Arial", sans-serif;
      font-size: 96px;
      font-weight: bold;
      top: 130px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .research__text {
    display: block;
    width: 290px;
  }

  .research__header {
    font-size: 30px;
    line-height: 34px;
    padding-top: 38px;
    margin: 0;
    margin-bottom: 15px;
  }

  .research__slogan {
    margin-bottom: 18px;
  }

  .research__more-info {
    color: #d22856;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .research {
    margin-top: 0;
    margin-bottom: 186px;
    padding-top: 24px;
    padding-bottom: 67px;
    background-color: #f2f2f2;
  }

  .research__timer {
    width: 298px;
    height: 345px;

    &::before {
      top: 69px;
      left: 23px;
      width: 219px;
      height: 219px;
      border: 17px solid #d22856;
      background-color: #f2f2f2;
    }

    &::after {
      font-size: 120px;
      top: 170px;
    }
  }

  .research__header {
    padding-top: 94px;
  }

  .research__header br{
    display: none;
  }
}
