.reviews {
  position: relative;
  margin-bottom: 43px;
  z-index: 2;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.reviews__item {
  display: none;
}

.reviews__item--checked {
  display: block;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.reviews__desc {
  display: none;
  margin: 0;
}

.reviews__text {
  line-height: 30px;
}

.pagination__review-1:checked ~ .reviews__list:nth-child(1) {
  display: block;
}

.pagination__review-1:checked ~ .reviews__list:nth-child(2) {
  display: block;
}

.pagination__review-1:checked ~ .reviews__list:nth-child(3) {
  display: block;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-bottom: 22px;
  }

  .reviews__list {
    padding-top: 0;
  }

  .reviews__item--checked {
    display: flex;
    flex-direction: column;
  }

  .reviews__desc {
    display: block;
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .reviews__name {
    font-size: 20px;
    margin-bottom: 5px;
    order: 1;
  }
}
