.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  text-align: center;
}

.reviews__name {
  font-style: normal;
  font-weight: bold;
  color: #000000;
}
