.textarea__legend {
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.textarea__text {
  font: inherit;
  width: 232px;
  padding: 22px;
  border: 2px solid #e5e5e5;
  margin-bottom: 48px;
}
